<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{- $metaDescription := .Description | default (.Summary | plainify) | default .Site.Params.description -}}
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="description" content="{{ $metaDescription }}" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="alternate" href="{{ .Permalink }}" hreflang="{{ .Site.Language.Lang }}" />
    <link rel="alternate" href="{{ .Permalink }}" hreflang="x-default" />
    <title>{{ if .IsHome }}{{ $.Site.Params.title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
{{ partial "head/open_graph.html" . }}
{{ partial "head/twitter_card.html" . }}
{{ partial "head/fonts.html" . }}
{{ partial "head/stylesheets.html" . }}
{{ partial "head/scripts.html" . }}
{{ partial "head/favicons.html" . }}
    <meta name="msapplication-TileColor" content="#268bd2" />
    <meta name="theme-color" content="#268bd2" />
  </head>
