<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="{{ .Site.BaseURL }}" itemprop="url" />
    <link rel="alternate" href="{{ .Site.BaseURL }}" hreflang="en" />
    <link rel="alternate" href="{{ .Site.BaseURL }}" hreflang="x-default" />
    <title>{{if .IsHome}}{{ $.Site.Params.title}}{{else}}{{.Title}}{{end}}</title>
{{ partial "head/fonts.html" . }}
{{ partial "head/stylesheets.html" . }}
{{ partial "head/scripts.html" . }}
{{ partial "head/favicons.html" . }}
    <meta name="msapplication-TileColor" content="#268bd2" />
    <meta name="theme-color" content="#268bd2" />
  </head>
