{{- $ogDescription := .Description | default (.Summary | plainify) | default .Site.Params.description -}}
<meta property="og:locale" content="{{ .Site.LanguageCode }}" />
<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}" />
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}" />
<meta property="og:description" content="{{ $ogDescription }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
{{ with .Site.Params.avatar }}
<meta property="og:image" content="{{ . | absURL }}" />
{{ end }}
