{{- $twitterDescription := .Description | default (.Summary | plainify) | default .Site.Params.description -}}
{{- $twitterHasImage := .Site.Params.avatar -}}
<meta name="twitter:card" content="{{ if $twitterHasImage }}summary_large_image{{ else }}summary{{ end }}" />
<meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}" />
<meta name="twitter:description" content="{{ $twitterDescription }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
{{ with .Site.Params.author }}
<meta name="twitter:creator" content="{{ . }}" />
{{ end }}
{{ with .Site.Params.avatar }}
<meta name="twitter:image" content="{{ . | absURL }}" />
{{ end }}
