@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import "tailwindcss";
@import "./solarized/solarized.css";
@plugin "@tailwindcss/typography";

@theme {
  --color-base03: #002b36;
  --color-base02: #073642;
  --color-base01: #586e75;
  --color-base00: #657b83;
  --color-base0: #839496;
  --color-base1: #93a1a1;
  --color-base2: #eee8d5;
  --color-base3: #fdf6e3;
  --color-yellow: #b58900;
  --color-orange: #cb4b16;
  --color-red: #dc322f;
  --color-magenta: #d33682;
  --color-violet: #6c71c4;
  --color-blue: #268bd2;
  --color-cyan: #2aa198;
  --color-green: #859900;

  --font-Orbitron: Orbitron, sans-serif;
  --font-Arvo: Arvo, serif;
}

/* Typography overrides to remove backticks from code */
@layer base {
  .prose :where(code):not(:where([class~="not-prose"] *))::before {
    content: "";
  }
  .prose :where(code):not(:where([class~="not-prose"] *))::after {
    content: "";
  }
}

@layer utilities {
  .glow-lg {
    text-shadow: 0 0 20px var(--tw-glow-color, rgba(255, 255, 255, 0.5));
  }
  .glow-red-500 {
    --tw-glow-color: var(--color-red);
  }
  .glow-blue-500 {
    --tw-glow-color: var(--color-blue);
  }
}
